body{
    background-image: url(sky.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    font-family: "poppin", sans-serif;
    justify-content: center;
    padding: 400px;
    width:300px;
}

body::before {
    background :rgb(0, 0, 0, 0.15);
    backdrop-filter: blur(15px);
    position: relative;
    }
  
main {
    padding: 20px;

}

.main-container{
    background:linear-gradient(to top, rgb(0 ,0,0,0.15),rgb(255,255.255.0.15));
    backdrop-filter:blur(100px);
    border-bottom: 1px solid #f9f7fe;
    border-radius: 12px;
    height: 400px;
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    padding-bottom: 30px;
    border-radius: 10px;
    box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
    width: 500px;
}

.city-input {
    background-color: #abcecf;
    border: 3px solid transparent;
    border-radius: 99px;
    color: rgba(39, 33, 66, 0.4);
    display: center;
    font-size: 16px;
    font-weight: 500px;
    outline: none;
    padding: 10px 16px;
    padding-right: 40px;
    transition: 0.25s border;
    width: 90%;
}

.city-input::placeholder {

    color: black;
}

.search-input:focus {

    border: 3px solid rgb(0, 0, 0, 0.15);
}

.search-button {
    background: none;
    border: none;
    top: 6%;
    cursor: pointer;
    display: flex;
    padding: -5px 20px;
    position: absolute;
    right: 30px;
    transform: translateY (-50%);

}

a {
    color: #5f6368;
}
p {
    color:#5f6368;
    font-size: 15px;
}


.weather-app-data {
    color: #abcecf;
    display: flex;
    justify-content: space-between;
}

.weather-app-details {
    font-size: 16px;
    

}
.weather-app-city {
    margin: 0;
    font-size: 38px;
    line-height: 48px;
}

.weather-app-details-strong {
    font-size: 16px;
    color: rgba(39, 33, 66, 0.4);
    line-height: 24px;
    font-weight: 500;
}


.weather-app-temperature-container {
    color:#abcecf;
    display: flex;
   

}

.weather-app-icon{
    width: 88px;
   height: 88px;
}

.weather-app-temperature {
    font-size: 88px;
    line-height: 88px;
    font-weight: bold;
    position: right;
}


.weather-app-unit{
    align-items: right;
    font-size: 28px;
    position: relative;
    
}

footer {
    border-top: 1px solid #f9f7fe;
    text-align: center;
    font-size:32px;
    letter-spacing: -1.2px;
    padding-top:40px;
    color: rgba(39, 33, 66, 0.4);
    }
 
